span.glyphicon-chevron-right{
	font-size: 1.7em;
	vertical-align: middle;
}
.col-lg-4 {
	height: auto;
} 
.col-lg-4 div.title-block {
	background-color:#1A1A1A;
	color:#FEFEFE;
	padding-top:10px;
	padding-bottom:10px;
	display:block;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.33em;
	height: 10%;
}
.col-lg-4 div.title-block h3 {
	display:inline;
	padding-left: 10px;
	font-weight: 400;
	font-size: 1.7rem;
	line-height: 1.33em;
}
.col-lg-4 div.title-block div {
	display:inline;
	margin-right:10px;
}
a:hover {
	color: #FF3333;
	text-decoration: none;
}
.col-lg-4 div.headline img {
	background-color: black;
	width:100%;
	height:200px;
	display:block;
	max-width: 360px;
}
.title-block {
	max-width: 360px;
}
.headline a{
	border-top: 1px solid #D9D9D9;
	font-weight: 300;
	font-size: 1.825rem;
	line-height: 1.5;
	display: block;
	color: #2E2E2E;
	padding-top: 8px;
}
.first-headline a {
	font-weight: 300;
	font-size: 1.825rem;
	line-height: 1.5;
	display: block;
	color: #2E2E2E;
}
/*.col-lg-4 div.headline a.main-link {
	font-weight: 700;
	font-size: 1.6em;
	line-height: 1.2;
	color: black;
}*/
.headline {
	height 10%;
	max-width: 360px;
}
.first-headline {
	max-width: 360px;
}
#main-link {
	height: 200px;
	margin-bottom: 20px;
}
div.row {
	margin-top: 10px;
}
a:hover {
	color: #B20000;
}
.huge {
	font-size: 40px;
}
.panel-success > .panel-heading{
	color: white;
	background-color: rgb(63, 123, 146);
}
.panel-info > .panel-heading{
	color: white;
	background-color: #1DA793;
}
.panel-success {
	border-color: rgb(63, 123, 146);
}
.panel-info {
	border-color: #1DA793;
}
.panel-primary {
	margin-top: 25px;
}
.main-info img {
	border: 1px solid #858585;
}