body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}
.journalist-info {
	height: 200px;
}
.img-responsive {
	width: 200px;
	height: 100%;
	display: block;
	float: left;
	border: 1px solid #858585;
}
.journalist-info .information {
	display: block;
	color: black;
	float: left;
	padding-left: 20px;
}
#search-field {
	background-color: #383838;
	border: none;
	max-width: 190px;
	color: white;
}
.glyphicon-search {
	width: 100%;
	height: 100%;
	color: #E3E6E3;
}
#button-search {
	background-color: #383838;
	border: none;
}
#main-frame {
	width: 92%;
}